parameters:
    # The host and port of your database.
    mongodb_server: 'mongodb://localhost:27017'

    # Your database's name.
    mongodb_db: my_db

    # The directory where your migration files are to be kept.
    migrations_directory: migrations
